<div class="h-auto flex justify-center">
  <div
    class="
      flex
      items-center
      max-w-xl
      w-full
      relative
      text-gray-500
      focus-within:text-island-600
    "
  >
    <i
      class="absolute pointer-events-none w-5 ml-5"
      data-feather="search"
    ></i>
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Busca productos y tiendas"
      class="
        input-autofill-color-none
        w-full
        py-4
        pl-14
        pr-3
        font-semibold
        border-none
        outline-none
        rounded-lg
        shadow-md
        placeholder-gray-400
        transition-opacity
        focus:color
      "
    />
  </div>
</div>
