<article
  class="
    flex flex-col
    md:flex-row
    gap-4
    p-3
    rounded-lg
    bg-white
    cursor-pointer
    transition-transform
    transform
    duration-500
    hover:scale-105 hover:shadow-sm
  "
>
  <div class="">
    <img
      class="w-64 object-cover rounded-lg"
      src="{{ product.picture }}"
      alt="{{ product.name }}"
    />
  </div>
  <div class="flex flex-col justify-between">
    <h2 class="text-base font-semibold">{{ product.name }}</h2>
    <div class="flex justify-between">
      <div class="flex gap-3">
        <div class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="
              feather feather-map-pin
              w-4
              text-gray-400
              hover:text-island-300
            "
          >
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" />
            <circle cx="12" cy="10" r="3" />
          </svg>
          <span class="text-sm text-gray-600">{{ product.location }}</span>
        </div>
        <div class="flex items-center gap-1" (click)="handleLike()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            [ngClass]="{ 'fill-yellow': liked }"
            class="feather feather-star w-4 text-gray-400 hover:text-yellow-300"
          >
            <polygon
              points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
            />
          </svg>
          <span class="text-sm text-gray-600">{{ product.rating }}</span>
        </div>
        <div class="flex items-center gap-1" (click)="handleLike()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="
              feather feather-dollar-sign
              w-4
              text-gray-400
              hover:text-green-600
            "
          >
            <line x1="12" y1="1" x2="12" y2="23" />
            <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" />
          </svg>
          <span class="text-sm text-gray-600">{{ product.price | number }}</span>
        </div>
      </div>
    </div>
    <div>
      <p class="text-gray-500 text-sm overflow-ellipsis">
        {{ product.description }}
      </p>
    </div>
  </div>
</article>
